.footer {
    padding: 48px 32px;
    background-color: black;
   

    img {
    display: block;
}
    @include breakpoint(tablet) {
        padding: 50px 40px 30px 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
    }

    @include breakpoint(desktopxl) {
        padding: 80px 165px;
    }

    &__logo{
        width: 45%;
        @include breakpoint(tablet) {
            width: 20%;
        }
        @include breakpoint(desktopxl) {
            width: 15%;
    }

    }

    &__content {
        font-family: $small-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        color: white;
        margin-top: 38px;
        margin-bottom: 38px;
        @include breakpoint(tablet) {
            width: 281px;
            margin-top: 0px;  
        }

        @include breakpoint(desktopxl) {
            width: 430px;
            font-size: 18px;
    }
    }

    &__social-media {
        display: flex;
        gap: 20px;
    }

    &__location {
        background-color: $gold;
        padding: 48px 32px;
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 40px;
            padding-bottom: 56px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 56px;
        }

        @include breakpoint(desktopxl) {
            padding: 80px 165px;
            gap:140px;
            }
        
        &--logo{
        width: 45%;
        @include breakpoint(tablet) {
            width: 20%;
        }

        @include breakpoint(desktopxl) {
            width: 15%;
            }

    }

        &--content {
        font-family: $small-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: black;
        margin-top: 38px;
        margin-bottom: 38px;
        @include breakpoint(tablet) {
            margin-top: 0px;
            padding-top: 0px;
            width: 281px;
        }
         @include breakpoint(desktopxl) {
            width: 430px;
            margin-bottom: 0;
            }

        @include breakpoint(desktopxl) {
            font-size: 18px;
            }
       
    }

        &--social-media {
        display: flex;
        gap: 20px;
    }
    
    }

}

