.header {
    margin-bottom: 120px;
    position: relative;
    @include breakpoint(tablet) {
        height: 700px;
        margin-bottom: 70px;
        }
    @include breakpoint(desktopxl) {
        height: 800px;
        margin-bottom: 0px;
        }

    &__background {
        width: 100%;
        height: 240px;
        margin-bottom: 30px;

        background-image: url("/img/header_mobile.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    
    @include breakpoint(tablet) {
        position: absolute;
        background-image: url("/img/header_tablet.svg");
        background-size: 100%;
        background-position: center;
        width: 437px;
        height: 700px;
        }

        
    @include breakpoint(desktopxl) {
            display: grid;
            grid-template-columns: 450px 540px 450px;
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
    }
        
        
        &--black {
            display: none;

            @include breakpoint(desktopxl) {
                display: block;
                background: $black;
        }
    }

        &--image {
            display: none;

            @include breakpoint(desktopxl) {
                display: block;
                background-image: url("/img/header_desktop.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
        }
    }

        &--white {
            display: none;

            @include breakpoint(desktopxl) {
                display: block;
                background: white;
        }
    }
}
  
    &__container {
        position: relative;
        z-index: 1;

        @include breakpoint(tablet) {
            width: 339px;
            height:fit-content;
            position: relative;
            top: 140px;
            left: 360px;
        }

        @include breakpoint(desktopxl) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    }
    
    &__title {
        color: $black;
        font-family: $title;
        font-size: 35px;
        width: 343px;
        font-weight: 900;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 0px;
        @include breakpoint(tablet) {
            font-size: 35px;
        
        }
        @include breakpoint(desktopxl) {
            position: absolute;
            width: 514px;
            top: 180px;
            left: 195px;
            

            color: white;
            font-size: 44px;
            line-height: 85px;
        }
    }



    &__text {
        color: $grey;
        font-family: $small-font;
        font-size: 18px;
        font-weight: 200;
        line-height: 28px;
        margin-bottom: 30px;
        @include breakpoint(tablet) {
            line-height: 28px;
        }

        @include breakpoint(desktopxl) {
            font-size: 22px;
            margin-bottom: 80px;
        }
    }

    &__flex {
    @include breakpoint(desktopxl) {
        position: absolute;
        width: 350px;
        top: 180px;
        right: 160px;
    }
}

    &__button{
        border-style: none;
        display: flex;
        position: relative;
        z-index: 2;
        align-items: center;
        margin-top: 40px;
        background: linear-gradient(to right,black 75%,$gold 75% 100%);    
        padding: 28px 35px 28px 32px;
        width: 260px;
        height: auto;
        &:hover{
            background: linear-gradient(to right, $gold 75%,black 75% 100%);    
                }
    
    
        &--btn1 {
            font-family: $title;
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 3px;
            text-decoration: none;
            color: white;
            }

    img {
        padding: 10px;
        position: absolute;
        right: 20px;            
        pointer-events: none;
        } 
    }   
    }