.hero {
    margin-bottom: 120px;
    @include breakpoint(tablet) {
        margin-bottom: 80px;
    }

    &__tablet-1 {
        display: flex;
        flex-direction: column;
        gap: 0;

        @include breakpoint(tablet) {        
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
    }

        @include breakpoint(desktopxl) {
            gap: 122px;
            margin-bottom: 30px;
        }

    }

    &__content--yourday{
        width: 343px;
        @include breakpoint(tablet) {
            margin-top: 20px;
        }
        @include breakpoint(desktopxl) {
            width: 350px;
            h1 {
                width: 350px;
            }
        }

        &-title {
        color: $black;
        font-family: $title;
        font-size: 30px;
        width: 343px;
        font-weight: 900;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 20px;

        @include breakpoint(tablet) {
            width: 223px;
            line-height: 45px;
            font-size: 26px;
        }

         @include breakpoint(desktopxl) {
            font-size: 30px;
            line-height: 60px;
        }

    }

        &-text {
        color: $grey;
        font-family: $small-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 30px;

       
        @include breakpoint(desktopxl) {
            font-size: 22px;
            line-height: 32px;
        }
    }
    }

    &__redbox {
        width: 343px;
        height: 400px;

        @include breakpoint(tablet) {
            width: 398px;
        }
        @include breakpoint(desktopxl) {
            width: 635px;
            object-fit: cover;
        }
    }

    &__tabletdesktopformat {
        display: block;
        @include breakpoint(tablet) {
            display: block;
            display: grid;
            gap: 11px;
            grid-template-columns: 398px 280px;
            grid-template-rows: 313px 396px;

            &--column1 {
                grid-column: 1 / span 1;
                grid-row: 1 / span 2;
            }

            &--column2top {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
            }
            &--column2bottom {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
            }
        }

        @include breakpoint(desktopxl) {
            grid-template-columns: 635px 445px;
            grid-template-rows: 313px 377px;
            gap: 30px;
        }
    }


    &__bench {
    margin-bottom: 16px;
    }
 

    &__public {
    margin-bottom: 16px;
    }  

    &__content--comeandbe {
        background-color: black;
        padding: 24px;
        margin-bottom: 120px;
        @include breakpoint(tablet) {
            width: 280px;
            height: fit-content;
            padding-top: 85px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 50px;  
            margin-bottom:0px;          
        }

        @include breakpoint(desktopxl) {
            width: 445px;
            padding: 65px 47px;
            height: 377px;
        }
    }

    &__content--comeandbe-title {
        color: white;
        font-family: $title;
        font-size: 30px;
        width: 343px;
        font-weight: 900;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 30px;
        @include breakpoint(tablet) {
            font-size: 25px;
            line-height: 45px;
            width: fit-content;
        }
        @include breakpoint(desktopxl) {
            font-size: 30px;
            line-height: 60px;
        }

    }

    &__content--comeandbe-text {
        color: white;
        font-family: $small-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 30px;

        @include breakpoint(desktopxl){
            font-size: 22px;
            line-height: 32px;
        }
    }
}