
.header__container{
    padding-left: 16px;
    padding-right: 16px;
}

.hero {
    @include breakpoint(desktopxl) {
        margin-bottom: 0px;
    }
}
.hero__container{
    padding-left: 16px;
    padding-right: 16px;
    @include breakpoint(tablet) {
        padding: 40px;
        margin-bottom: 0px;
    }
    @include breakpoint(desktopxl) {
        padding: 165px;
        margin-bottom: 0px;
        }
}

ul {
    @include reset-list();
}

a {
    text-decoration: none;
    color: white;
}

html, body {
    min-height: 100%;
}
